DEBUG=off
SECRET_KEY=
ALLOWED_HOSTS=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
BOT_TOKEN

EMAIL_HOST='smtp.mail.ru'
EMAIL_PORT=2525
EMAIL_HOST_USER='example@bk.ru'
EMAIL_HOST_PASSWORD='password'
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
ADMIN_EMAILS=lala@bk.ru